.block {
  position: relative;

  &.block--orange {
    background: $gmhan-orange;
  }

  &.block--grey {
    background: $gmhan-grey;
    color: #f1f1f1;
    padding: 70px 20%;
    text-align: center;
  }

  &.block--white {
    text-align: center;
  }

  &.block--highlight {
    margin: 25px 25px 0px 0px;
    border: 2px solid $gmhan-orange;
    padding: 0px 25px;
    flex: 1 1 0px;

    .content {
      padding: 15px 10px;
    }

    h3 {
      color: $gmhan-orange;
    }

    &.block--highlight-grey {
      background: $gmhan-grey;
      color: #fff;;
    }

    &.block--highlight-orange {
      background: $gmhan-orange;
      color: white;
      h3, a {
        color: $gmhan-grey;
      }
    }
  }
}