.block {
  position: relative;

  &.block--green {
    background: $fsan-green; 
  }

  &.block--grey {
    background: $fsan-grey;
    color: #f1f1f1;
    padding: 40px 20%;
    text-align: center;
  }

  &.block--white {
    text-align: center;
  }

  &.block--highlight {
    margin: 25px 10px 0px 10px;
    border: 2px solid $fsan-green;
    padding: 0px 25px;
    flex: 1 1 0px;

    .content {
      padding: 15px 10px;
    }

    h3 {
      color: $fsan-green;
    }

    &.block--highlight-grey {
      background: $fsan-grey;
      color: #fff;;
    }

    &.block--highlight-green {
      background: $fsan-green;
      color: white;
      h3, a {
        color: $fsan-grey;
      }
    }
  }

  &.block--publications {
    padding-bottom: 20px;

    a{
      margin: 8px;
    }
  }
}