.block {
  position: relative;

  &.block--orange {
    background: $gmhan-orange;
  }

  &.block--grey {
    background: $gmhan-grey;
    color: #f1f1f1;;
    padding: 70px 30%;
    text-align: center;
  }

  &.block--white {
    text-align: center;
    padding: 40px;
    
    button {
      box-shadow:inset 0px 1px 0px 0px #ffffff;;
      background-color:#ffffff;
      border-radius:1px;
      border:1px solid #000000;
      display:inline-block;
      cursor:pointer;
      color:#000000;
      padding:6px 18px;
      text-shadow:0px 1px 0px #ffffff;
      margin-right: 10px;
    }
    
    button:hover {
      background: $gmhan-orange;
    }
  }

  &.block--highlight {
    margin: 40px 20px 0px 0px;
    border: 2px solid $gmhan-orange;
    padding: 0px 25px;

    .content {
      padding: 10px 0;
    }

    h3 {
      color: $gmhan-orange;
    }
  }
}
