.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media (min-width: $bp-desktop) {
    padding: 0 5%;
  }
}

.highlight-container {
  display: flex;
  justify-content: space-between;
  flex-basis: 0;

  @media (max-width: $bp-tablet) {
    flex-direction: column;
  }
}

.content {
  padding: 0 5%;
}

#main {
  min-height: 100%;
}
