.form {
  font-family: 'exo';
  padding-top: 20px;
}

textarea {
  font-size: 20px;
}


form { max-width:450px; margin:50px auto; }

.feedback-input {
  color:#1c1c1c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid $gmhan-grey;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid $gmhan-orange; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'exo', Arial, Helvetica, sans-serif;
  width: 100%;
  background: $gmhan-orange;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:400;
}
[type="submit"]:hover { background: $gmhan-orange; }