.home-hero {
  position: relative;
  height: 400px;
  background: $fsan-light-grey;
  
  img {
    height: 400px;
    width: 100%;
  }
}

.home-hero-title {
  position: absolute;
  width: 55%;
  font-family: 'Nunito';
  text-align: center;
  font-size: 48px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

@media screen and (max-width: 1090px) {
  .home-hero-title {
    width: 80%;
  }
}

@media screen and (max-width: 680px) {
  .home-hero-title {
    font-size: 38px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 360px) {
  .home-hero-title {
    font-size: 36px;
    width: 95%;
    padding-bottom: 20px;
  }
}