.home-hero {
  color: #fff;
  background-color: black;
  position: relative;
  border: 0;
  padding: 150px 200px;
  
  h1 {
    font-family: 'exo';
    font-weight: 100;
    text-align: center;
    font-size: 36px;
  }
}