nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 110px;
    font-family: be vietnam;
    background: #f1f1f1;
    border-bottom: 3px solid #e2a601;
}

.logo {
    width: 100px;
    padding: 5px;
}

.nav-links {
    display: flex;
    width: 44%;
    justify-content: space-around;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: black;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-size: 12px;
    font-family: be vietnam;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #e2a601;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 800px){
  .nav-links {
    body {
      overflow-x: hidden;
    }
    position: absolute;
    z-index: 2;
    right: 0px;
    height: calc(100vh - 110px);
    top: 94px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
}