nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 110px;
    font-family: be vietnam;
    background: #f1f1f1;
    border-bottom: 3px solid #535353;
}

.logo {
    width: 200px;
    padding: 5px;
}

.nav-links {
    display: flex;
    width: 38%;
    justify-content: space-around;
    padding-left: 0;
}

@media screen and (max-width: 1260px){
  .nav-links {
    width: 48%;
  }
}

@media screen and (max-width: 1050px){
  .nav-links {
    width: 55%;
  }
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: black;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-size: 12px;
    font-family: be vietnam;
}

.nav-links li:before {
  content: " | ";
  color: #14a99d;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #14a99d;
  margin: 5px;
  transition: all 0.3s ease;
  z-index: 20;
}

@media screen and (max-width: 800px){
  .nav-links {
    overflow: hidden;
    position: fixed;
    z-index: 2;
    right: 0px;
    height: 100vh;
    top: 0;
    margin: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li a {
    line-height: 100px;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    z-index: 20;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
}