
// breakpoints
$bp-mobile: 320px;
$bp-tablet: 740px;
$bp-desktop: 980px;
$bp-wide: 1300px;

$page-width: 840px;
$padding: 10px;

// Colours
$gmhan-hero-orange: #FFC053;
$gmhan-orange: #FFB533;
$gmhan-grey: #515151;

// fonts
@import url('https://fonts.googleapis.com/css?family=Be+Vietnam|Exo&displayL=swap');