
// breakpoints
$bp-mobile: 320px;
$bp-tablet: 740px;
$bp-desktop: 980px;
$bp-wide: 1300px;

$page-width: 840px;
$padding: 10px;

// Colours
$fsan-green: #14a99d;
$fsan-grey: #494949;
$fsan-light-grey: #545454; 

// fonts
@import url('https://fonts.googleapis.com/css?family=Be+Vietnam|Exo|Nunito|Montserrat&displayL=swap');