@import 'nav';
@import 'btn';
@import 'variables';
@import 'block';
@import 'typography';
@import 'images';
@import 'card';
@import 'home-hero';
@import 'footer';
@import 'container';
@import 'news-and-events';
@import 'form';

body {
  margin: 0;
  padding: 0;
  font-family: 'be vietnam';
  height: 100%;
}

*, *::before, *::after { box-sizing: border-box }