{{ define "main" }}
{{ partial "header.html" .Params.header }}

<div id="main">
  <div class="container">
    <div class="content">
      <div class="event-content">
        <h1 class="h1">{{ .Params.content.heading }}</h1>
        <p style="clear: left; overflow: auto;"></p>
        <p>{{ partial "bodyMarkdown.html" .Params.content.body }}</p>
      </div>
      <img class="event-image" src="{{ .Params.content.image }}" alt="">
    </div>
  </div>
</div>

{{ $footer := .Site.GetPage "_footer.md" }}
{{ partial "footer.html" (dict "footer" $footer) }}
{{ end }}
