{{ define "main" }}
{{ partial "header.html" .Params.header }}

<div id="main">

  <section class="home-hero">
    <img src="{{ .Params.img }}" alt="">
    <h1 class="home-hero-title">Ending homelessness in Greater Manchester</h1>
  </section>

  <section>
    <div class="block block--grey">
      <p>{{ partial "bodyMarkdown.html" .Params.tagline }}</p>
    </div>
  </section>

  <section>
    <div class="block block--orange cards card-container">
    <a href="{{ .Params.ctaCards.cardOne.cardLink }}" class="card">
        <div class="card__text">
            <h3 class="card__title">{{ .Params.ctaCards.cardOne.cardTitle }}</h3>
            <p class="card__body">{{ .Params.ctaCards.cardOne.cardText }}</p>
        </div>
      </a>
      <a href="{{ .Params.ctaCards.cardTwo.cardLink }}" class="card">
        <div class="card__text">
            <h3 class="card__title">{{ .Params.ctaCards.cardTwo.cardTitle }}</h3>
            <p class="card__body">{{ .Params.ctaCards.cardTwo.cardText }}</p>
        </div>
      </a>
      <a href="{{ .Params.ctaCards.cardThree.cardLink }}" class="card">
        <div class="card__text">
            <h3 class="card__title">{{ .Params.ctaCards.cardThree.cardTitle }}</h3>
            <p class="card__body">{{ .Params.ctaCards.cardThree.cardText }}</p>
        </div>
      </a>
  </section>

  <section>
    <div class="block block--white">
      <h2>Learn more</h2>
      <div class="cta-btn-container">
        <a href="{{ .Params.secondary.buttonOne.link }}"><button class="callout-button">{{ .Params.secondary.buttonOne.buttonText }}</button></a>
        <a href="{{ .Params.secondary.buttonTwo.link }}"><button class="callout-button">{{ .Params.secondary.buttonTwo.buttonText }}</button></a>
        <a href="{{ .Params.secondary.buttonThree.link }}"><button class="callout-button">{{ .Params.secondary.buttonThree.buttonText }}</button></a>
      </div>
    </div>
  </section>

{{ $footer := .Site.GetPage "_footer.md" }}
{{ partial "footer.html" (dict "footer" $footer) }}
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{{ end }}
