{{ define "main" }}
{{ partial "header.html" .Params.header }}

<section class="home-hero">
  <div>
    <div>
        <h1>Ending homelessness <span>in Greater Manchester</span></h1>
    </div>
  </div>
</section>

<section>
  <div class="block block--grey">
    <p>{{ .Params.tagline | markdownify }}</p>
  </div>
</section>

<section>
  <div class="block block--orange cards card-container">
  <a href="#" class="card">
      <img src="" alt="">
      <div class="card__text">
          <h3 class="card__title">{{ .Params.card.titleone }}</h3>
          <p class="card__body">{{ .Params.card.textone }}</p>
      </div>
    </a>
    <a href="#" class="card">
      <img src="" alt="">
      <div class="card__text">
          <h3 class="card__title">{{ .Params.card.titletwo }}</h3>
          <p class="card__body">{{ .Params.card.texttwo }}</p>
      </div>
    </a>
    <a href="#" class="card">
      <img src="" alt="">
      <div class="card__text">
          <h3 class="card__title">{{ .Params.card.titlethree }}</h3>
          <p class="card__body">{{ .Params.card.textthree }}</p>
      </div>
    </a>
</section>

<section>
  <div class="block block--white">
    <h2>Secondary call outs</h2>
    <button>{{ .Params.secondary.callone }}</button>
    <button>{{ .Params.secondary.calltwo }}</button>
    <button>{{ .Params.secondary.callthree }}</button>
  </div>
</section>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

{{ partial "footer.html" .Params.footer }}
{{ end }}


