{{ define "main" }}
{{ partial "header.html" .Params.header }}

<div id="main">

  <section class="container">
    <div class="content">
      <h1 class="h1">{{ .Params.content.heading }}</h1>
    </div>
  </section>

  <section class="container">
    <div class="content">
      <div class="block ">
        <h3>{{ .Params.whatIs.heading }}</h3>
        <p>{{ partial "bodyMarkdown.html" .Params.whatIs.body }}</p>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="block block--highlight block--highlight-grey">
      <div class="content">
        <h3>{{ .Params.scale.heading }}</h3>
        <p>{{ partial "bodyMarkdown.html" .Params.scale.body }}</p>
      </div>
    </div>
  </section>

  <section class="container highlight-container">
    <div class="block block--highlight block--highlight-green two-column">
      <div class="content">
        <h3>{{ .Params.left.heading }}</h3>
        <p>{{ partial "bodyMarkdown.html" .Params.left.body }}</p>
      </div>
    </div>
    <div class="block block--highlight block--highlight-grey two-column">
      <div class="content">
        <h3>{{ .Params.right.heading }}</h3>
        <p>{{ partial "bodyMarkdown.html" .Params.right.body }}</p>
      </div>
    </div>
  </section>

  <section class="container">
    <div class="block block--highlight block--highlight-grey">
      <div class="content">
        <h3>{{ .Params.bottom.heading }}</h3>
        <a target="_blank" href="/assets/fsan-components.jpg">
          <img style="width: 100%;" src="/assets/fsan-components.jpg" alt="">
        </a>
      </div>
    </div>
  </section>
  
{{ $footer := .Site.GetPage "_footer.md" }}
{{ partial "footer.html" (dict "footer" $footer) }}
{{ end }}