{{ define "main" }}
{{ partial "header.html" .Params.header }}

<div id="main">

  <div class="">
    <div class="container">
      <div class="content">
        <h1 class="h1">{{ .Params.heading }}</h1>
        {{ $contentMarkdown := .Params.content | markdownify }}
        {{ if not ( strings.Contains $contentMarkdown "</p>" ) }}<p>{{ $contentMarkdown }}</p>{{ else }}{{ $contentMarkdown }}{{ end }}
        </p>
      </div>
      {{ if .Params.highlight }}
      <div class="block block--highlight">
            <h3>{{ .Params.highlight.heading }}</h3>
            <div class="content">
                {{ $highlightBodyMarkdown := .Params.highlight.body | markdownify }}
                {{ if not ( strings.Contains $highlightBodyMarkdown "<p>" ) }}<p>{{ $highlightBodyMarkdown }}</p>{{ else }}{{ $highlightBodyMarkdown }}{{ end }}
            </div>
      </div>
    </div>
  </div>
  {{ end }}

</div>

{{ $footer := .Site.GetPage "_footer.md" }}
{{ partial "footer.html" (dict "footer" $footer) }}
{{ end }}