{{ define "main" }}
{{ partial "header.html" .Params.header }}

<div id="main">

  {{ with .Site.GetPage "Section" "news-and-events" }}
  <section class="container">
    <div class="content">
      <h1 class="h1">{{ .Params.content.heading }}</h1>
      <p>{{ partial "bodyMarkdown.html" .Params.content.body }}</p>
    </div>
  </section>
  {{ end }}

  <section class="section">
    <div class="container event-container">
      <div class="event-card">
        <div class="event-card-content">
          <h3><a class=" h3 event-card__title" href="/we-are-recruiting">Apply to be the new GMHAN Lived Experience Coordinator</a></h3>
          <p>We are recruiting for a new role to support co-production in the GMHAN</p>
          <a href="{{ .Permalink }}">Apply here</a>
        </div>
        <div class="event-image">
          <img class="event-card__img" src="/assets/uploads/copy-of-women-s-experience.png" alt="">
        </div>
      </div>
  {{ range (where .Site.RegularPages.ByDate.Reverse "Section" "news-and-events") }}
    <div class="event-card">
      <div class="event-card-content">
        <h3><a class=" h3 event-card__title" href="{{ .Permalink }}">{{ .Params.eventCard.name }}</a></h3>
        <p>{{ .Params.eventCard.location }}</p>
        <p>{{ .Params.eventCard.date }}</p>
        <a href="{{ .Permalink }}">Learn more</a>
      </div>
      <div class="event-image">
        <img class="event-card__img" src="{{ .Params.content.image }}" alt="">
      </div>
    </div>
  {{ end }}
  </section>

</div>
  
{{ $footer := .Site.GetPage "_footer.md" }}
{{ partial "footer.html" (dict "footer" $footer) }}
{{ end }}