
{{ define "main" }}
{{ partial "header.html" .Params.header }}

<div id="main">
  <section class="container">
    <div class="content">
      <h1 class="h1">{{ .Params.content.heading }}</h1>
      <p>{{ partial "bodyMarkdown.html" .Params.content.body }}</p>
    </div>
  </section>

  <section class="container">
    <div class="content">
      <h2 class="h2">{{ .Params.resources.heading }}</h2>
      <p>{{ partial "bodyMarkdown.html" .Params.resources.uploads }}</p>
      <h2 class="h2">{{ .Params.uploads.heading }}</h2>
      <p>{{ partial "bodyMarkdown.html" .Params.uploads.body }}</p>
    </div>
  </section>
  
{{ $footer := .Site.GetPage "_footer.md" }}
{{ partial "footer.html" (dict "footer" $footer) }}
{{ end }}