
{{ define "main" }}
{{ partial "header.html" .Params.header }}

<div id="main">
  <section class="container">
    <div class="content">
      <h1 class="h1">{{ .Params.content.heading }}</h1>
      <p>{{ partial "bodyMarkdown.html" .Params.content.body }}</p>
    </div>
  </section>

  <section class="section">
    <div class="resource-cards">

      <div class="resource-card">
        <h1 class="resource-card__heading">Learn, Lobby & Deliver</h1>
        <p class="resource-card__body">Information and resources from the GMHAN Learn, Lobby & deliver task groups which come together to action the networks shared objectives.</p>
        <a href="/learn-lobby-deliver" class="btn btn--resources">Learn more</a>
      </div>

      <div class="resource-card">
        <h1 class="resource-card__heading">GMCA Homelessness Prevention Strategy</h1>
        <p class="resource-card__body">Documents relating to the GM Homelesness prevention strategy, coproduced by the GMHAN, GMJokers and Greater Manchester combined authority. This is reviewed every 6 months, if you have any feedback about the approach, priorities or how it’s going on the ground, please contact info@gmhan.net.</p>
        <a href="/prevention-strategy" class="btn btn--resources">Learn more</a>
      </div>

      <div class="resource-card">
        <h1 class="resource-card__heading">Covid response</h1>
        <p class="resource-card__body">The GMHAN response to the Covid 19 pandemic, and next steps coming out of the pandemic.</p>
        <a href="/covid-response" class="btn btn--resources">Learn more</a>
      </div>

      <div class="resource-card">
        <h1 class="resource-card__heading">Employment, Training & Education</h1>
        <p class="resource-card__body">Resources from the full network event which focused on Employment, training & education as both homelessness prevention and as a pathway out of homelessness.</p>
        <a href="/employment-training-education" class="btn btn--resources">Learn more</a>
      </div>

      <div class="resource-card">
        <h1 class="resource-card__heading">Criminal Justice System</h1>
        <p class="resource-card__body">Resources from the full network event which focused on the criminal justice system.</p>
        <a href="/criminal-justice-system" class="btn btn--resources">Learn more</a>
      </div>

      <div class="resource-card">
        <h1 class="resource-card__heading">Youth Homelessness</h1>
        <p class="resource-card__body">Resources and information relating to youth homelessness, and what is being done to prevent it in Greater Manchester. Many of these resources came from a full network event in November 2023, which focused on Youth Homelessness</p>
        <a href="/youth-homelessness" class="btn btn--resources">Learn more</a>
      </div>

      <div class="resource-card">
        <h1 class="resource-card__heading">Health & Homelessness</h1>
        <p class="resource-card__body">Resources focusing on the overlap between homelessness and health.</p>
        <a href="/health-and-homelessness" class="btn btn--resources">Learn more</a>
      </div>

      <div class="resource-card">
        <h1 class="resource-card__heading">Women’s Experience of Homelessness</h1>
        <p class="resource-card__body">Resources and information about the way in which women experience homelessness differently to men and the different support that should be provided.</p>
        <a href="/womens-homelessness" class="btn btn--resources">Learn more</a>
      </div>

      <div class="resource-card">
        <h1 class="resource-card__heading">From the Network</h1>
        <p class="resource-card__body">Info about the network internal plans, resourcing and schedules.</p>
        <a href="/the-network" class="btn btn--resources">Learn more</a>
      </div>

      <div class="resource-card">
        <h1 class="resource-card__heading">Greater Manchester</h1>
        <p class="resource-card__body">Documents from partners across the ten boroughs of Greater Manchester, including Greater Manchester Combined Authority.</p>
        <a href="/greater-manchester" class="btn btn--resources">Learn more</a>
      </div>

      <div class="resource-card">
        <h1 class="resource-card__heading">External</h1>
        <p class="resource-card__body">External resources from members of the homelessness action network- contact <a href="mailto:info@gham.net">info@gham.net</a> if you want your resources to be published here.</p>
        <a href="/external" class="btn btn--resources">Learn more</a>
      </div>

    </div>
  </section>
</section>
  
{{ $footer := .Site.GetPage "_footer.md" }}
{{ partial "footer.html" (dict "footer" $footer) }}
{{ end }}