{{ define "main" }}
{{ partial "header.html" .Params.header }}


<div style="padding-top:30px;" class="block block--white">
  <div class="container">
    <h1 class="service-heading">GMHAN Focus Suggestion</h1>  
    <p>Make a suggestion for what you think the GMHAN should be focusing on. This can be an idea for a full network event, something for us to discuss in an Open Space, or what you think the network’s task groups should be working on. Submit your idea here or contact <a href="mailto:info@GMHAN.net">info@GMHAN.net</a> if you want to speak to us about this.</p>
  </div>
  <form name="suggestions" method="POST" data-netlify="true">      
    <input name="name" type="text" class="feedback-input" placeholder="Name (optional)" />   
    <input name="email" type="text" class="feedback-input" placeholder="Email (optional)" />
    <textarea name="text" class="feedback-input" placeholder="Suggestion..."></textarea>
    <input type="submit" value="SUBMIT"/>
  </form>
</div>

  
{{ $footer := .Site.GetPage "_footer.md" }}
{{ partial "footer.html" (dict "footer" $footer) }}
{{ end }}